<footer class="footer is-size-7-touch">
  <div class="columns is-centered has-text-weight-bold is-mobile is-multiline">
    <div class="column has-text-centered is-narrow is-three-quarters-mobile">
      <div class="columns is-centered is-mobile">
        <p class="column">校级合作</p>
        <p class="column">人才招聘</p>
        <p class="column">联系我们</p>
      </div>
    </div>
    <div class="column has-text-centered is-narrow is-three-quarters-mobile">
      <div class="columns is-centered is-mobile">
        <p class="column">校内导航</p>
        <p class="column">意见反馈</p>
        <p class="column">常见问题</p>
      </div>
    </div>
  </div>
  <p class="has-text-centered has-text-grey">Copyright © 2018 GIS1501 All Rights Rserved</p>
</footer>